<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<head th:replace="fragments/header">
</head>
<body>
<nav th:replace="fragments/navbar"></nav>
<div class="container bg-white  p-4 px-5 shadow-lg rounded w-50 p-3">
    <h1 class="text-center text-uppercase font-weight-bold text-info mb-4">Product Form</h1>
    <form th:action="@{/product/save}" th:object="${product}" method="post">
        <input type="hidden" th:field="*{id}" />
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" th:field="*{name}" required placeholder="Product name...">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea type="text" class="form-control" id="description" th:field="*{description}" required placeholder="Description..." rows="3"></textarea>
        </div>
        <div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    <a th:href="@{/product}" class="btn btn-link">Back to List</a>
</div>
<!-- Bootstrap JS and dependencies -->
<div th:replace="fragments/scripts :: script"></div>
</body>
</html>
