<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{fragments/header}">
</head>
<body >
<nav th:insert="~{fragments/navbar}"></nav>
<div class="container bg-white  p-4 px-5 shadow-lg rounded w-75 p-3">
    <h1 class="text-center text-uppercase font-weight-bold text-info mb-4">Product List</h1>
    <table class="table table-bordered table-hover table-sm">
        <thead class="table-primary">
        <tr>
            <th scope="col" class="col-id">ID</th>
            <th scope="col" class="col-name">Name</th>
            <th scope="col" class="col-des">Description</th>
            <th scope="col" class="col-actions">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="product : ${products}">
            <td th:text="${product.id}">1</td>
            <td th:text="${product.name}">Example Name</td>
            <td th:text="${product.description}">Good product</td>
            <td>
                <a th:href="@{/product/edit/{id}(id=${product.id})}" class="btn btn-outline-primary">Edit</a>
                <a th:href="@{/product/delete/{id}(id=${product.id})}" class="btn btn-outline-secondary">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{/product/new}" class="btn btn-outline-success">ADD NEW PRODUCT</a>
</div>
<div th:insert="~{fragments/scripts :: script}"></div>
</body>
</html>
