<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" lang="en">
<body>
<nav class="navbar navbar-expand-sm navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">WebSurvey</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="btn btn-link" href="/product">Home <span class="sr-only">(current)</span></a>
            <a class="btn btn-link" href="/product">Product List</a>
            <a class="btn btn-link">About</a>
        </div>
    </div>
</nav>
</body>
</html>