<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:insert="~{fragments/header}">
<body>
<nav th:insert="~{fragments/navbar}"></nav>
<div class="container text-center p-5 rounded bg-white shadow-lg">
    <h1 class="text-danger">Error 404</h1>
    <p>The product with ID <span th:text="${id}"></span> not found.</p>
    <a href="/" class="btn btn-outline-primary">Go Home</a>
    <a href="/product" class="btn btn-outline-info">Go to Product List</a>
</div>

<div th:insert="~{fragments/scripts :: script}"></div>
</body>
</html>
